// Cores principais
$primary-color: #FF7A2F; // Cor laranja do botão
$light-orange: #FFBB98;
$text-dark: #000000;
$text-light: #777777;
$white: #FFFFFF;
$gray-light: #F5F5F5;

// Variáveis de tamanho
$border-radius: 8px;
$button-radius: 24px;